<mat-toolbar color="primary" class="d-flex jc-space-between ai-center height-64">

    <div>
        <a *ngIf="showBack()" mat-icon-button color="light" routerLink="/" aria-label="Voltar para tela principal">
            <mat-icon>arrow_back</mat-icon>
        </a>
    </div>
    <div>
        LIBRO MOVIES
    </div>
    <!-- <div class="d-flex jc-space-between ai-center">
      <a routerLink="/">home</a>
      <a routerLink="/page1">page 1</a>
      <a routerLink="/page2">page 2</a>
    </div> -->
</mat-toolbar>